In [1]:
ss = "hello world"
xx = 34
yy = 1.267

In [2]:
help(ss.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [37]:
#make a list
MyList = [3, 2.44, "green", True]
len(MyList)
type(list(range(4)))

list

In [10]:
type(True)

bool

In [15]:
#boolean example
xx = "red"
yy = "red"
xx != yy

False

In [39]:
listlen = len(MyList) # get the length of the list
for index in range(listlen):
    element = MyList[index] # extract item at index "element"
    print(type(element))

# for element in MyList:
#     print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [48]:
MyList[-1]

True

In [60]:
MyList = [3, 2.44, "green", True]
xx = "dinosaur"
MyList.append(xx)
MyList

[3, 2.44, 'green', True, 'dinosaur']

In [67]:
MyList.append(MyList)
list2 = ["2", "two", 2]
MyList.append(list2)
MyList

[3,
 2.44,
 'green',
 True,
 'dinosaur',
 [...],
 [...],
 [...],
 [...],
 [...],
 ['2two', 2],
 [...],
 ['2two', 2],
 [...],
 ['2', 'two', 2]]

In [68]:
# Creating a dictionary
my_dict = {}
my_dict

{}

In [79]:
my_dict["dinosaur"] = 1000, "dog": 10, "cat": 5, "parrot": 2
my_dict("dog")

SyntaxError: invalid syntax (<ipython-input-79-4be5995a6a2a>, line 1)